*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    font-size: 2rem;
}
.items{
    /* border: 1px solid red; */
    width: 10.5rem;
    height: 100%;
}

.card{
    /* border: 1px solid green; */
    box-shadow: 3px 0px 13px -5px rgba(0,0,0,0.75);
}